[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
psycopg2 = "*"
pyjwt = "*"
django-storages = "*"
azure-identity = "*"
azure-storage-blob = "*"
psycopg2-binary = "*"
djoser = "*"
django-rest-framework = "*"
django-cors-headers = "*"
pillow = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
