.post form {
    margin: 19px auto;
    border-color: #bebdbd;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 22px;
    background-color: white;
    width: 650px;
}


/* style the input field */
.post form input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    border-color: grey;
}

/* style the placeholder */
.post form input[type="text"]::placeholder {
    color: #aaa;
    font-size: 16px;
}

/* hide the placeholder when the user starts typing */
.post form input[type="text"]:focus::placeholder {
    color: transparent;
}

.post textarea {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 15px;
    resize: vertical;
}

.post select {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 9px;
    width: 112px;
    background-color: #fff;
    border-radius: 25px;
}

.bottom {
    display: flex;
    align-items: center;
    margin: 15px;

}

.post label{
    margin:15px;
}