/* * {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

form {
    width: 500px;
    margin: 19px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
}

button[type=submit] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button[type=submit]:hover {
    background-color: #555;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.success {
    color: green;
    margin-bottom: 20px;
}

/* #register-button{
    background-color: #423264;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
}*/