{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/forumpage.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Forums</title>
    </head>

    <body>
        <div class="topnav">
            <a href="#menu" class="material-icons">menu</a>
            <b>Forums</b>
        </div>

        <div class="search">
            <input type="text" placeholder="Search here..">
        </div>
    </body>
</html>