{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" href="dashboard.css"> -->
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<body>


  <div class="topnav">
    <a href="#menu" class="material-icons">menu</a>
    <b>Help Section</b>
  </div>


  <div class="header">
    <a class="headertext1" ;>How can we help?</a>
    <input type="text" placeholder="Search your problem here">
    <c class="headertext3" ;>Here are some useful articles</c>
  </div>

  <div class="main1">
    <button type="button" class="button">Testing</button>
    <button type="button" class="button">Testing2</button>
    <button type="button" class="button">Testing3</button>
  </div>

  <div class="main2">
    <a>Or you can submit your problem here</a>
    <div class="main21">
      <i class="material-icons">person</i>
      <a>User 1</a>
    </div>
    <input type="text" placeholder="Test">
  </div>


</body>